
*, ::before , ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
    font-style: normal;
}

img{
    width: 100%;
    height: 100%;
}

h1 , h2 , h3 {
    margin: 0;
}



.header{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: gray;
}

.header-logo{
    font-weight: 500;
    font-size: 24px;
}

.hero{
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/hero_bg.jpg");
}

.container{
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hero_container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(290px , 1fr));
    grid-gap: 20px;
}

.hero_about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_title{
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.1;
}

.hero_subtitle{
    font-size: 32px;
    font-weight: 400;
}

.hero_links{
    display: flex;
}

.hero_link{
    margin-right: 10px;
    font-size: 30px;
    color: black;
    transition: color 0.3s;
}

.hero_link:hover{
    color: brown;
}

.hero_box{
    max-width: 500px;
    justify-self: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    border: 5px solid white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    animation: ava-animation 10s infinite alternate;
}

.hero_box-img{
    animation: ava-bg 10s infinite alternate;
}

@media screen and (max-width: 978px){
    .hero{
        padding-top: 10px;
    }

    .hero_container{
        grid-row-gap: 20px;
    }

    .hero_title{
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero_subtitle{
        font-size: 22px;
        font-weight: 400;
    }

    .hero_description{
        font-size: 14px;
    }

    .hero_about{
        text-align: center;
    }

    .hero_links{
        justify-content: center;
    }

    .hero_box{
        max-width: 350px;
    }
}

@keyframes ava-animation{
    0%{
        border-radius:38% 62% 61% 39% / 37% 54% 46% 63%  ;
    }

    40%{
        border-radius: 53% 47% 37% 63% / 50% 34% 66% 50% ;
    }

    60%{
        border-radius: 41% 59% 33% 67% / 68% 59% 41% 32% ;
    }

    100%{
    border-radius: 33% 67% 25% 75% / 58% 25% 75% 42% ;        
    }

}

@keyframes ava-bg{
    from{
        backdrop-filter: hue-rotate(0);
    }

    to{
        backdrop-filter: hue-rotate(90deg) ;
    }
}

.transition{    
    z-index: 5;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transition-ref{
    text-decoration: none;
    color: black;
}

.border-description-a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color:rgb(107, 107, 107) ;
}

.border-description-a{
    text-decoration: none;

}

.border-title{   
    margin: 0 auto 0 auto;
}

.hero-stack{
    font-size: 32px;

}

.stack-head{
    font-size: 24px;
    margin: 0px 0 10px 0;
}

.stack-line{
    margin:0;
    border-radius: 3px;
    width: 20%;   
    border-bottom: 4px solid rgba(187, 187, 187, 0.226) ;
}

.border-line{
    margin: 0 auto 0 auto;
    border-radius: 3px;
    width: 20%;   
    border-bottom: 4px solid rgba(187, 187, 187, 0.226) ;

}

.info{
    min-height: 100vh;
    padding: 0;
    margin-top: 0px;
    background-image: url("/public/img/bg_info.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.info-content{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.info-item{
    background-position-x: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 0px;

    transition: 0.2s;
}

.info-content-p{
    margin: 10px 0px 10px 0;
    font-size: 20px;
}
.info-about-p{
    margin-top: -10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 110px;
    color: rgb(66, 66, 66 , 0.5);

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

.info-item a {
    color: black;
    text-decoration: none;
}

.info-item:hover{
    background-color: rgba(255, 38, 0, 0.658);
}

@media screen and (max-width:980px) {
    .stack-line{
        margin: 0 auto 0 auto;
    }

    .info-container{
        padding-bottom: 0;
    }
    .transition{
        margin-top: 20px;
    }
    .info-content{
        grid-template-columns: 1fr;
    }

    .info-about-p{
        font-size: 70px;
        padding-bottom: 10px;
    }
    
}
